<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
</head>
<body>
    <h1>Добро пожаловать!</h1>

    @if (ViewBag.ExecutorRole)
    {
            <div>
                <h2>Меню для исполнителя</h2>
                <ul>
                    <li><a href="/tasks">Мои задачи</a></li>
                    <li><a href="/profile">Профиль</a></li>
                    <li><a href="/AboutMe/AboutMeExecutor" class="menu-button">
                       <i class="fas fa-user"></i> Мой профиль
                    </a></li>
                </ul>
            </div>
    }
    else if (ViewBag.CustomerRole)
    {
        <div class="customer-menu">
            <h2>Меню для заказчика</h2>
            <div class="menu-buttons">
                <a href="/orders" class="menu-button">
                    <i class="fas fa-list-alt"></i> Мои заказы
                </a>
                <a href="/settings" class="menu-button">
                    <i class="fas fa-cog"></i> Настройки
                </a>
                    <a href="/AboutMe/AboutMeCustomer" class="menu-button">
                      <i class="fas fa-user"></i> Мой профиль
               </a>
                         <li><a href="/SearchWindows/SearchExecutorWindow" class="menu-button">
                           <i class="fas fa-user"></i> Исполнители </a></li>
                        <li><a href="/Orders/AddOrders" class="menu-button">
                            <i class="fas fa-user"></i> Добавить заказ</a></li>
            </div>
        </div>
    }
    else
    {
            <div>
                <h2>Вы не выбрали роль!</h2>
                    <form method="post" action="/MainPages/OpenExexutorRegestration">
                        <label for="role">Выберите роль:</label>
                        <select id="role" name="role">
                            <option value="Executor">Исполнитель</option>
                            <option value="Customer">Заказчик</option>
                        </select>
                        <button type="submit">Зарегистрироваться</button>
                    </form>
            </div>
    }
</body>
</html>