@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на фриланс биржу!</h1>
    
</div>
<div class="button-group">
  @*   <a asp-controller="Account" asp-action="Autorization" 
        class="btn btn-primary btn-lg mt-4">
        <i class="fas fa-user-plus mr-2"></i>Войти
    </a>
    <a asp-controller="Account" asp-action="Registration" 
        class="btn btn-secondary btn-lg mt-4">
        <i class="fas fa-user-plus mr-2"></i>Зарегистрироваться
    </a> *@
</div>