@model FreelanceBirga.Models.VM.MoneyViewModel
<h6>Положить деньги</h6>
<form method="post">
	<input type="number" name="Money" min="0" value="@Model.Money" />
	<button type="submit">Положить</button>
</form>
